// Specific CSS for your home-page
body {
  background-color: #EEF4D4;
}

.banner {
  background-size: cover;
  background-size: contain;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
