.your-furnishing {
  padding: 10vh 0;
}

.furnishing-section {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
  padding: 5vh 0;
}

.furnishing-each {
  color: #1c2826;
  padding: 3vh 3vw;
}

.your-booking {
  padding: 5vh 0;
}

.booking-section {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
  padding-top: 5vh;
}

.edit-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}