<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="banner" style="background-image: url(<%= asset_path('furniture-set.jpg') %>)">
    <div>
      <h3>Rent beautiful furnishings to design your set</h1>
      <p>Get your set ready, and go!</p>
    </div>
  </div>
</div>


<style>
  .banner {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
</style>
