.card-dash {
  overflow: hidden;
  width: 250px;
  background-color: rgb(213,195,192);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  margin: 20px;
  h2 {
    text-decoration: none;
  }
}

.card-dash > img {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

}

.card-dash h2 {
  font-size: 30px;
  font-weight: bold;
  font-color: #8E443D;
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  text-decoration: none;
}

.card-dash .dash-buttons {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  color: #1c2826;
}

.last-btn {
  color: #1c2826;;
  border: 1px solid #1c2826;
  padding: 5px 15px;
  border-radius: 8px;
  font-weight: lighter;
  transition: opacity 0.4s ease;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 20px;
}

.h2-div {

}

.card-furnishing {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  background-color: rgb(213,195,192);
  padding: 20px;
  padding-left: 0px;
  font-weight: 800;
}

.card-furnishing h3 {
  padding-left: 15px;
  font-weight: 800;
}

.dash-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 52px;
  padding-top: 16px;
}

.dates {
  padding-left: 15px;
}

