.card-small {
  overflow: hidden;
  height: 250px;
  width: 250px;
  background-color: rgba(218, 239, 179, 0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card-small > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-small h3 {
  font-size: 18px;
  font-weight: bold;
  font-color: #8E443D;
  margin: 0;
  padding-top: 10px;
}

.card-small .card-small-infos {
  font-size: 15px;
  opacity: .7;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: #1c2826;
}
