.container {
  padding: 10vh 20vw;
}

.furnishing-container {
  padding: 5vh 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.map-container {
  padding: 10vh 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 16px;
  margin: 32px;
  position: relative;
}

.form {
   padding: 5vh 30vw;
}

.booking-container {
  padding: 5vh 30vw;
}