.navbar-lewagon {
  justify-content: space-between;
  background: #8E443d;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-link {
  color: white !important;
}






