<ul>
  <% @furnishings.each do |furnishing| %>
    <li><%= link_to furnishing.title, furnishing_path(furnishing) %></li>
    
    # <li><%= furnishing.description %></li>
    # <li><%= furnishing.price %></li>
    # <li><%= furnishing.furnishing_type %></li>
  <% end %>
</ul>